

.jumbotron {
		text-align: center;
		background-color: transparent;
}

.jumbotron .btn {
		font-size: 21px;
		padding: 14px 24px;
}

.not-set {
		color: #c55;
		font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
		position: relative;
		top: 1px;
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		padding-left: 5px;
}

a.asc:after {
		content: /*"\e113"*/ "\e151";
}

a.desc:after {
		content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
		content: "\e153";
}

.sort-numerical a.desc:after {
		content: "\e154";
}

.sort-ordinal a.asc:after {
		content: "\e155";
}

.sort-ordinal a.desc:after {
		content: "\e156";
}

.grid-view th {
		white-space: nowrap;
}

.hint-block {
		display: block;
		margin-top: 5px;
		color: #999;
}

.error-summary {
		color: #a94442;
		background: #fdf7f7;
		border-left: 3px solid #eed3d7;
		padding: 10px 20px;
		margin: 0 0 15px 0;
}

.row-centered {
		text-align:center;
}

.stormerInfoOne{
		height:359px;
		background-image: url('../../../image/stormer_info_image_1.png');
		background-repeat: no-repeat;
		//background-size: 100%;
}

.stormerInfoTwo{
		height:359px;
		background-image: url('../../../image/stormer_info_image_2.png');
		background-repeat: no-repeat;
		//background-size: 100%;
}

.stormerInfoThree{
		height:359px;
		background-image: url('../../../image/stormer_info_image_3.png');
		background-repeat: no-repeat;
		//background-size: 100%;
}

.stormerInfoFour{
		height:359px;
		background-image: url('../../../image/stormer_info_image_4.png');
		background-repeat: no-repeat;
		//background-size: 100%;
}

.stormerInfoFive{
		height:359px;
		background-image: url('../../../image/stormer_info_image_5.png');
		background-repeat: no-repeat;
		//background-size: 100%;
}

.ui-state-focus{
		border-radius:50%;
}

	.titleDesign + .tooltip.bottom > .tooltip-arrow {
			border-bottom: 5px solid #337ab7;
	}
	/* Tooltip on top */
	.titleDesign + .tooltip.top > .tooltip-arrow {
			border-top: 5px solid #337ab7;
	}
	/* Tooltip on bottom */
	/* Tooltip on left */
	.titleDesign + .tooltip.left > .tooltip-arrow {
			border-left: 5px solid #337ab7;
	}
	/* Tooltip on right */
	.titleDesign + .tooltip.right > .tooltip-arrow {
			border-right: 5px solid #337ab7;
	}
	
	
	
	.titleDesignProject + .tooltip > .tooltip-inner {
		background-color: white !important;
		color: #313135;
		padding: 15px;
		font-size: 20px;
		max-width: 950px;
		min-width: 450px;
		width: 95%;
		text-align:justify !important;
}
 .tooltip.bottom >.tooltip-inner {
 }
	/* Tooltip on top */

	/* Tooltip on bottom */
	.titleDesignProject + .tooltip.bottom > .tooltip-arrow {
			border-bottom: 5px solid #4594de;
	}
	/* Tooltip on left */
	.titleDesignProject + .tooltip.left > .tooltip-arrow {
			border-left: 5px solid black;
	}
	/* Tooltip on right */
	.titleDesignProject + .tooltip.right > .tooltip-arrow {
			border-right: 5px solid #337ab7;
	}
	
	.menuTooltip + .tooltip > .tooltip-inner {
		background-color: #f0f2f1 !important;
		color: #797979;
		border: 1px solid #797979;
		padding: 5px;
		font-size: 14px;
		max-width: 250px;
		min-width: 250px;
		width: 150px;
	}
	.menuTooltip + .tooltip.bottom > .tooltip-arrow {
			border-bottom: 5px solid #797979;
	}

		.multiselect-container{
				max-height: 250px;
				overflow-y: scroll;
				overflow-x: hidden;
		}

		.bootstrap-tagsinput{
				min-width: 150px;
		}

/*    .field_customer_category > .category_input_block > .btn-group button{
				color:red;
		}*/
.boxClick{
		cursor:pointer;
}
.AdminHomePageLink{
		margin-left:9px;
		font-size:15px;
		padding:0px;
}

/*#actions {
	margin: 2em 0;
}*/
/* Mimic table appearance */
/*div.table {
	display: table;
}
div.table .file-row {
	display: table-row;
}
div.table .file-row > div {
	display: table-cell;
	vertical-align: top;
	border-top: 1px solid #ddd;
	padding: 8px;
}
div.table .file-row:nth-child(odd) {
	background: #f9f9f9;
}*/
/* The total progress gets shown by event listeners */
#total-progress {
	opacity: 0;
	transition: opacity 0.3s linear;
}
/* Hide the progress bar when finished */
#previews .file-row.dz-success .progress {
	opacity: 0;
	transition: opacity 0.3s linear;
}
/* Hide the delete button initially */
#previews .file-row .delete {
	display: none;
}
/* Hide the start and cancel buttons and show the delete button */
#previews .file-row.dz-success .start,
#previews .file-row.dz-success .cancel {
	display: none;
}
#previews .file-row.dz-success .delete {
	display: block;
}

/*.showSweetAlert{
		text-align:left !important;
}*/
/*.demo-1{
		
}*/

@media (max-width:780px){
		.containerFooter{
				padding-left: 0px; 
				padding-right: 0px    
		}
}

@media (min-width:780px) and (max-width:1170px){
		.containerFooter{
				padding-left: 0px; 
				padding-right: 0px;    
		}
}
