/*===========================================*/
/* This is the Main Stylesheet for Sailor Theme
/* Theme Author: ThemeForces
/* Theme URL: ThemeForces.Com
/* Created : November 20, 2014
/* Latest Update : November 20, 2014

==============================================
CSS Style Structure
- Imports
- General
- Preloader
- Off Canvas - Slide Menu
- Menu/Navigation
- Static Header
- Header/Hero Slider
- SGV Icons
- Portfolio Section
- Portfolio Small Box - Hover Effects
- Portfolio Large Box - Hover Effects 
- About Page 
- Blog Page
- Objectives / Quotes
- Contact Section
- Pages Styles
- Album/Gallery Page
    - Album/Gallery Page Navigation
    - Album/Gallery Pop Nivo Lightbox
- Single Blog Page
/*===========================================*/
/* Imports
===========================================*/
@import url(http://fonts.googleapis.com/css?family=Great+Vibes&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

/* General
===========================================*/






a:hover{
    color:  #0c1232;
    text-decoration: none;
}
#hero a,
#portfolio a{
    color: #ffffff;
}



/* Portfolio Section
===========================================*/
.nopadding {
    padding: 0;
    margin-top: -1px;
}

#portfolio .small-box{
    height: 280px;
    overflow: hidden;
    -webkit-backface-visibility:hidden;
}

#portfolio .large-box{
    height: 560px;
    overflow: hidden;
    -webkit-backface-visibility:hidden;
}

.small-box img.img-responsive {
    width: -webkit-calc(100% + 80px);
    width: calc(100% + 80px);
    max-width: 120%;
    -webkit-backface-visibility:hidden;
    transform: translateX(-20px) translateY(-20px);
    -webkit-transform: translateX(-20px) translateY(-20px);
    -moz-transform: translateX(-20px) translateY(-20px);
    -ms-transform: translateX(-20px) translateY(-20px);
    -o-transform: translateX(-20px) translateY(-20px);
}

.large-box img.img-responsive {
    max-width: 120%;
    -webkit-backface-visibility:hidden;
    transform: translateX(-50px) translateY(-50px);
    -webkit-transform: translateX(-50px) translateY(-50px);
    -moz-transform: translateX(-50px) translateY(-50px);
    -ms-transform: translateX(-50px) translateY(-50px);
    -o-transform: translateX(-50px) translateY(-50px);
}

/* Portfolio Small Box - Hover Effects
===========================================*/
.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px transparent !important;
    box-shadow: inset 0 3px 5px transparent !important;
}

.small-box .hover-bg{
    position: relative;

}
.small-box .hover-text{
    display: none;
    position: absolute;
    top: 0;
    padding: 40px 40px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.small-box .hover-text.on{
    display: block;
}

.small-box:hover .hover-text.animated{
    display: block;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig { 
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY();
        transform: translateY();
    }
}
.small-box .hover-text .ptitle {
    border: 1px solid #0c1026;
    padding: 2px 5px;
    width: 100%;
    font-size: 100%;
}
.hover-text h2 {
    font-size: 100%;
    font-family: 'Great Vibes', cursive;
    text-transform: none;
    letter-spacing: 0;
    font-size: 30px;
    text-align: center;
}
.small-box a { color: #0c1026 !important }
p.excerpt {
    padding-top: 20px;
    font-size: 13px;
}
.small-box .hover-text {
    background: #ffffff;
    width: 100%;
    height: 100%;
    color: #0c1026;
}
.small-box a.btn.read-more-btn,
a.btn.btn2 {
    background: transparent;
    color: #0b102c !important;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none !important;
    padding: 6px 0px;
}
.small-box .hover-text a.btn.read-more-btn span.fa,
a.btn.btn2 span.fa
{ margin-right: 20px }
/* Portfolio Large Box - Hover Effects 
===========================================*/
.large-box .hover-bg { position: relative }
.large-box .hover-text {
    display: none;
    position: absolute;
    top: 0;
    padding: 40px 40px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.large-box:hover .hover-text.animated {
    display: block;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@-webkit-keyframes fadeInDownBig { 
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY();
        transform: translateY();
    }
}
.large-box .hover-text.on { display: block }
.large-box .hover-text {
    background: #0c1026;
    color: #ffffff;
    width: 100%;
    height: 100%;
    min-height: 560px;
}
.large-box a { color: #ffffff }
.large-box .hover-text .ptitle {
    border: 1px solid #ffffff;
    padding: 2px 5px;
    width: 100%;
    font-size: 100%;
}
.client-logo {
    text-align: center;
    padding-bottom: 20px;
}
.large-box .hover-text .client-logo img {
    width: 120px;
    text-align: center;
}
.large-box .hover-text a.btn.read-more-btn {
    position: absolute;
    top: 500px;
    background: transparent;
    color: #ffffff !important;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none !important;
}
.large-box a.btn.read-more-btn {
    background: transparent;
    color: #0b102c !important;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none !important;
    padding: 6px 0px;
}
.large-box .hover-text a.btn.read-more-btn span.fa { margin-right: 20px }
