
@media (min-width: 1600px)

	.navbar-container,
	.top-bar>.container
		padding: 0

@media (max-width: 1615px)

	.top-bar>.container
		padding-left: 15px
		padding-right: 30px
	.home-titles-wrapper
		margin-left: 15px
	.navbar-container
		padding: 0 15px
		width: 100%
	.selectstormer-page
		.right-options
			.infoBlockShow
				left: -30px

@media (max-width: 1199px)
	.join-team-page
		.join-team-representation
			.title
				font-size: 16px
			.subtitle
				font-size: 12px
			hr
				margin: 30px auto
			.btn-join
				font-size: 14px
				height: 40px
				line-height: 40px
				padding: 0 15px
	.dashboard-page
		.user-info
			.other-info
				margin-top: 10px
				font-size: 12px
				padding: 0
	#filterStormer
		.select-options
			padding: 0 15px
			margin-top: 30px
			&>div
				text-align: center
				padding: 0 15px
			&>div:nth-child(3),
			&>div:nth-child(4)
				padding-right: inherit
				margin-top: 20px
				.form-control,
				.multiselect,
				.btn-group
					max-width: 200px
					margin-left: 19px
				.multiselect
					margin-left: 0
	.about-page
		.category
			min-height: 347px
	.about-team
		.about-team-block
			min-height: 400px
			padding-right: 15px
		.team-avatar
			padding-bottom: 10px
	.terms-page
		.grey.left,
		.grey.right
			min-height: 365px
	.terms-page
		#customer-modal
			.modal-dialog
				max-width: 900px
	.registration-step
		.getting-bottom-field
			.field_customer_category
				label.control-label
					text-align: right
				.category_input_block
					text-align: left
				.help-block
					text-align: center
			.another-category
				margin: 15px auto 0px
	.about-team
		.about
			min-height: 225px
	.registration-step
		.getting-bottom-field
			.infoBlockShow
				margin-left: 37%
	.registration-step
		.form-top-part
			.field-stormerinfo-gender
				padding: 5px 10px 0 0px
			#stormerinfo-gender
				.radio
					margin-left: 25px

@media (max-width: 991px)

	.no-padding-md
		padding-left: 0 !important
		padding-right: 0 !important
	.top-bar
		&>.container
			width: 100%
		.navbar-right
			padding-right: 15px
	.top-bar.guest
		.navbar-right
			&>li
				&>a
					padding: 0 20px
					font-size: 14px
			.btn-login
				a
					width: 100px
	.home-tittle
		font-size: 48px
	.home-subtitle
		font-size: 18px
	#footer
		.social-networks
			margin-right: 0
	.join-team-page
		.join-team-representation
			max-width: 768px
			.representation
				padding-top: 0
				margin: 50px auto
			.subtitle
				font-size: 14px
	.question-form-wrap
		#contactform-verifycode
			width: 100%
	.join-team-page
		.btn-wrap
			h6
				width: auto !important
		.btn-help
			font-size: 14px
			height: 40px
			line-height: 40px
			padding: 0 15px
			min-width: 205px
	.selectstormer-page
		.btn-wrap
			.btn-help
				font-size: 14px
				height: 40px
				line-height: 40px
				padding: 0 15px
				min-width: 205px
			h6
				width: auto !important
		.btn-success
			max-width: 250px
			width: 100%
			min-width: inherit
			height: 40px
			line-height: 40px
	.dashboard-page
		.animate-block.active-prj
			.active-project-header
				h4
					font-size: 22px
		#active_project
			margin-top: 10px
			padding-left: 25px
			a
				h4
					font-size: 16px
			.btn-post
				margin-left: -25px
		#load_more,
		#post-project
			h5
				font-size: 16px
		#active_project
			height: 115px
	.my-project-page
		.btn-wrap
			margin-top: 20px
			position: relative
	#filterStormer
		.select-options
			&>div:nth-child(1)
				margin-bottom: 20px
	.select-team
		.filters-head-right
			margin-top: 30px
	.target-project-step1
		.btn-wrap
			margin-top: 0
		.modal
			.range-title
				margin-bottom: 10px
			.range-wrap
				margin-bottom: 50px
			.btn-help
				display: block
				max-width: 200px
				margin: 5px auto 0
	.about-page
		.category
			min-height: 447px
	.my-project-customer-page
		.project-container
			.left-buttons
				text-align: center
			.closeProject
				float: none !important
				display: block
				margin: 30px auto 0
			.btn-behind,
			.btn-messages,
			.btn-payment
				margin-top: 30px
	.my-project-stormer-page
		.btn-wrap
			position: relative
			bottom: 0
			margin-top: 20px
			padding-right: 0
	.be-inspired-page
		.project-container
			.left-buttons
				text-align: center
			.btn-behind
				margin: 30px auto 0
	.referal-page
		.referal-form-wrap
			.center-input,
			.top-input,
			.bottom-input
				padding: 0
			input
				max-width: 300px
	.email-quote-page
		.email-quote-form-wrap
			.center-input,
			.top-input,
			.bottom-input
				padding: 0
			input
				max-width: 300px
	.create-project-step1,
	.target-project-step1
		.btn-create
			margin: 0 auto
	.about-team
		.about-team-block.left,
		.about-team-block.right
			margin: 0
		.about-team-block
			margin-bottom: 30px !important
			min-height: auto
	.about-page.customer
		.about-image,
		.about-image.bottom
			float: none
			margin: 0 auto 30px
	.terms-page
		.grey.left,
		.grey.right
			min-height: auto
	.terms-page
		#customer-modal
			.modal-dialog
				max-width: 700px
	.registration-step
		.getting-bottom-field
			.field_customer_category
				label.control-label
					margin-bottom: 15px
				label.control-label,
				.category_input_block
					text-align: center
	.registration-step
		.getting-bottom-field
			.field_customer_category
				.help-block
					text-align: center
	.about-team
		.about
			min-height: auto
	.registration-step
		.getting-bottom-field
			.infoBlockShow
				margin-left: 50%
				left: -300px
		.form-bottom-part
			.btn-add-photo
				margin: 0 auto
	#filterStormer
		#changeViewCount
			max-width: 220px
	.selectstormer-page
		.right-options
			.infoBlockShow
				left: 50%
				margin-left: -200px
	.dashboard-left-col
		.profile-user,
		.dashboard-block.active-project .animate-block
			height: 170px
		.dashboard-block.my-projects
			.animate-block
				height: 100px
	.my-project-customer-page
		.rating-modal
			padding-left: 17px !important
			padding-right: 17px !important
			.modal-dialog
				width: auto
	.behind-the-scenes
		#instruction
			margin-top: 30px
	#jsm_container
		margin-top: 30px



@media (max-width: 767px)
	.top-bar
		&>.container
			padding-right: 0
		.navbar-toggle
			margin-right: 30px
		.navbar-collapse
			background-color: #222
	.top-bar.guest
		.navbar-collapse
			border-bottom: 1px solid #d6d6d6
			background-color: #ebedeb
		.navbar-header
			.navbar-brand
				padding-left: 15px
		.navbar-right
			padding-top: 0
			.customer-register
				a:after
					display: none
			.btn-login
				a
					margin-left: 20px
					margin-top: 5px
					margin-bottom: 5px
		.menuTooltip + .tooltip
			display: none !important
	.home-tittle-wrap
		margin: 0 auto
		width: 100%
		padding: 0 20px
		.home-tittle,
		.home-subtitle
			text-align: center
		.home-subtitle
			margin-top: 10px
	.contact-us-page
		.c-us-details
			br
				display: none
	#footer
		.footer-menu
			text-align: center
			li
				a
					padding: 0 12px
		.social-networks
			float: none
			text-align: center
	.join-team-page
		.add-team-wrap
			padding: 40px 0
			.range-wrap
				margin-bottom: 60px
			.range-title
				margin-bottom: 10px
			.price-title
				margin-top: 0 !important
			.btn-wrap
				margin: 45px auto 0
				&>div
					text-align: center
				h6
					display: block
					text-align: center !important
			.btn-help
				margin-bottom: 20px
	.selectstormer-page
		.range-wrap
			margin-bottom: 60px
		.range-title
			margin-bottom: 10px
		.price-title
			margin-top: 0 !important
		.btn-wrap
			margin: 45px auto 0
			&>div
				text-align: center
			h6
				display: block
				float: none !important
				text-align: center
		.btn-help
			margin-bottom: 20px !important
	.post-project-page
		.post-project-form-wrap
			.btn-col-left,
			.btn-col-right
				text-align: center
			.deleteLink
				display: block
				margin: 20px auto 0
				width: 130px
		.project-edit
			#actions
				text-align: center
	.project-container
		&>hr
			width: 100% !important
	.post-project-page
		.post-project-form-wrap
			.btn-col-left,
			.btn-col-right
				padding: 0
		.btn-add-link
			margin: 25px auto 0 !important
	.dashboard-page
		.list
			.item
				width: 50%
	#filterStormer
		.description
			margin-top: 30px
	.select-team
		.stormer-name
			margin-top: 20px
			margin-bottom: 20px
	.post-project-page
		.post-project-form-wrap
			.btn-add-image,
			.btn-cancel
				max-width: 300px
	.login-modal
		.login-with-wrap
			text-align: center
			margin-bottom: 20px
	.about-page
		.category
			padding-top: 20px
			min-height: auto
	.my-project-customer-page
		.project-container
			.add-star,
			.btn-organize
				margin: 30px 10px 0
	.post-project-page
		.post-project-form-wrap
			.button-wrap
				text-align: center
			.btn-add-image,
			.btn-cancel
				margin-left: 5px
				margin-right: 5px
	.post-project-page
		.post-project-form-wrap
			.btn-target
				margin: 10px auto 5px
	.site-login
		.form-wrap
			.form-horizontal
				.form-group
					max-width: 400px
					text-align: center
				.field-loginform-username
					margin-bottom: 20px
			.social-icon-wrap
				margin-top: 30px
		.forgot-pass
			text-align: center
	.terms-page
		#customer-modal
			padding: 0 15px 0 15px
			.modal-dialog
				max-width: 100%
	.registration-step
		.registration-field
			.form-group
				max-width: 350px
	.registration-step
		.getting-wrap
			.field_customer_tags
				.infoBlockShow
					left: 10px
					margin: 0
					width: calc(100% - 20px)
		.getting-bottom-field
			.infoBlockShow
				margin: 0
				left: 10px
				width: calc(100% - 20px)
	.registration-step
		.customer-registration
			.field-user-accept_terms
				.checkbox
					text-align: center
				.help-block 
					text-align: center
			.busy_block
				margin-left: -143px
	#filterStormer
		.filters-view-count
			text-align: center
	.selectstormer-page
		.infoBlockShow
			max-width: 290px
			left: 50% !important
			margin-left: -145px !important
	.dashboard-right-col
		.dashboard-block
			.animate-block
				height: 100px
	.be-inspired-page
		.nav-tabs
			&>li
				&>a
					width: 175px
	.profile-container
		.form-horizontal
			a.titleDesign+.tooltip
				left: 50% !important
				margin-left: -200px
				.tooltip-arrow
					display: none
	.site-about
		.list-col
			text-align: center
		.list-met
			text-align: left
			margin-top: 0
			margin-bottom: 20px
	.telltheworld-page
		.page-subtitle+hr
			margin: 25px auto 20px
		.content
			margin-top: 20px
		.details
			text-align: center
		.tell-img
			margin: 40px auto 0
			float: none


@media (max-width: 660px)

	.dashboard-block
		width: 100%
		.profile-user,
		.animate-block
			max-width: 400px
			margin-left: auto
			margin-right: auto
	.project-introduction-page
		.tab-content
			.table
				.btn-action,
				.btn-refusal
					word-wrap: break-word
					white-space: pre-line
					height: auto
					max-width: 260px
					line-height: normal
					padding: 7px 10px


@media (max-width: 580px)
	.titles-wrap
		.btn-wrap
			.btn
				display: block
				margin: 0 auto 20px
	.home-tittle
		font-size: 36px
	.home-subtitle
		font-size: 16px
	.join-team-page
		.join-team-representation
			.btn-join.big,
			.btn-join
				width: 200px
				white-space: normal
				line-height: normal
				padding-top: 5px
				padding-bottom: 5px
	.dashboard-page
		.stormerPageSelect
			width: 100% !important
			.blur-wrap,
			.animate-block
				width: 100% !important
				max-width: 375px
				margin: 0 auto 15px
	.my-project-page
		.btn-wrap
			float: none
			margin-left: auto
			margin-right: auto
	.post-project-page
		.post-project-form-wrap
			div.table
				.file-row
					display: block
					padding: 15px
					&>div
						display: block
						padding: 0 !important
						margin: 0 auto 20px
						&:last-child,
						&:nth-last-child(2)
							margin: 0 auto
					.img-preview,
					.size
						text-align: center
	.post-project-page
		.post-project-form-wrap
			padding-top: 25px
		.project-info
			.project-img-wrap,
			.project-img-wrap+div
				margin-bottom: 30px !important
				text-align: center
	.dashboard-page
		.list
			.item
				width: 100%
				.animate-block
					max-width: 375px
					margin: 0 auto 30px
	#filterStormer
		.select-options
			padding: 0
		.select-options
			&>div:nth-child(3),
			&>div:nth-child(4)
				.form-control,
				.multiselect,
				.btn-group
					margin-left: 0
	.my-project-customer-page
		.nav-tabs
			&>li
				&>a
					width: 175px
		.project-container
			.btn-messages,
			.btn-behind
				margin-left: 10px
				margin-right: 10px
	.be-inspired-page
		.nav-tabs
			&>li
				float: none
				&>a
					margin: 0 auto
	#form-signup
		.btn-email-panel,
		.btn-save
			display: block
			margin: 15px auto
			max-width: 270px
	.post-project-page
		.post-project-form-wrap
			.btn-target
				float: none !important
	.blog-page
		.page-title
			text-align: center
		.post-image-test
			float: none
			max-width: inherit
			img
				margin: 0 auto
		.post-data
			text-align: center
	.registration-step
		.getting-bottom-field
			.category_input_block
				.multiselect
					float: none
				.multiselect-container
					float: none
					left: -42px
	.my-project-stormer-page
		.button-wrap
			.btn-group
				float: none
				display: block
				a.btn-introd
					display: block
					margin: 10px auto 0
					float: none
	.project-introduction-page
		.tab-panels-wrap
			.nav-tabs
				li
					float: none
					display: block
					a
						margin: 0 auto 10px
			.btn-introd
				display: block
				margin: 10px auto 0
				float: none
	.my-rankings-page
		.tab-panels-wrap
			.nav-tabs
				text-align: center
				margin-bottom: 20px
				li
					float: none
					max-width: 250px
					margin: 0 auto
					a
						margin-right: 0

@media (max-width: 500px)

	.about-team
		.team-avatar
			float: none
			text-align: center
			margin-bottom: 20px
	.registration-step
		.getting-wrap
			.field_customer_tags
				.control-label
					display: block
					padding-right: 0
				.help-block,
				.hint
					margin-left: 0
		.getting-bottom-field
			.another-category
				display: block
				.add_category_button
					font-size: 12px
					margin-top: 15px
	.profile-container
		.form-horizontal
			.form-group.field-stormerinfo-gender
				display: block
			.btn-show-question
				display: block
				width: 190px
	.registration-step
		.form-top-part
			.gender-select
				text-align: center
	.create-project-step1,
	.target-project-step1
		.label-ngo
			.tooltip
				width: 260px
				.tooltip-arrow
					left: 45.5% !important



@media (max-width: 420px)

	.login-modal
		.modal-footer
			text-align: center
		.form-group.field-loginform-rememberme
			float: none
		.forgot-pass
			float: none
			text-align: center
	.dashboard-page
		.user-info
			.other-info
				.introduction
					max-width: 160px
		.btn-activation
			white-space: normal
			height: auto
			max-width: 260px
			line-height: normal
			padding: 7px 10px
	.my-project-customer-page
		.project-container 
			.closeProject,
			.add-star,
			.btn-organize
				word-wrap: break-word
				white-space: pre-line
				height: auto
				max-width: 260px
				line-height: normal
				padding: 7px 10px
			.add-star,
			.btn-organize
				max-width: 200px
	.site-about
		.btn-back
			word-wrap: break-word
			white-space: pre-line
			height: auto
			max-width: 260px
			line-height: normal
			padding: 7px 10px
	.update-modal
		.btn-update,
		.btn-close
			display: block
			margin: 0 auto 15px !important
	.profile-container
		.form-horizontal
			a.titleDesign+.tooltip
				left: 0 !important
				margin-left: 0
				// width: 100